:root {
  --primary: #198813;
  --primary-dark: #13660e;
  --primary-darker: #0d440a;
  --primary-light: #8cc389;
  --primary-lighter: #c5e1c4;
  --primary-lightest-2: #e8f3e7;
  --primary-lightest-1: #f3f9f3;

  --black: black;
  --black-light: rgba(0, 0, 0, 0.5);
  --black-lighter: rgba(0, 0, 0, 0.25);
  --black-lightest-2: rgba(0, 0, 0, 0.1);
  --black-lightest-1: rgba(0, 0, 0, 0.05);

  --white: white;
  --white-light: rgba(255, 255, 255, 0.7);
  --white-lighter: rgba(255, 255, 255, 0.5);
  --white-lightest-2: rgba(255, 255, 255, 0.35);
  --white-lightest-1: rgba(255, 255, 255, 0.25);

  --main-bg-color: var(--white);
  --main-text-color: var(--black);
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: black;
    --main-text-color: white;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
a {
  color: var(--primary);
}
a:hover {
  filter: brightness(0.6);
  color: var(--primary);
}
a:visited {
  color: var(--primary);
}
body {
  max-width: 40rem;
  padding: 50px 70px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;

  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  color: var(--primary-light);

  /* To align with logo's text baseline */
  margin-top: 10px;
  margin-inline-start: 8px;
}
.error {
  color: #ff4136;
  border: 1px solid currentColor;
  padding: 0.6rem;
}
#error, #unsupported {
  display: none;
  padding: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
template {
  display: none;
}
#main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  grid-template-rows: 20px 15px 24px 80px auto;
  row-gap: 10px;
  column-gap: 2rem;
  margin-bottom: 10px;
}

#track-title {
  grid-column: 1 / span 2;
  grid-row: 1;
}
#controls-time-display {
  grid-column: 3;
  grid-row: 1;
}
#controls-progress {
  grid-column: 1 / span 3;
  grid-row: 2;
}
#controls-select-file-container {
  grid-column: 1 / span 3;
  grid-row: 3;
}
#controls-tracks {
  grid-column: 1;
  grid-row: 4 / span 2;
}
#controls-play-pause {
  grid-column: 2;
  grid-row: 4;
}
#controls-others {
  grid-column: 3;
  grid-row: 4;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
controls-loop {
  height: 40px;
}
controls-volume {
  margin-inline-start: 10px;
  height: 40px;
}

#footer {
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 10px;
}

/* Modified from "file" from https://github.com/mdo/wtf-forms/blob/master/wtf-forms.css */
#controls-select-file-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 80px;
}
#controls-select-file-container > input {
  margin: 0;
  opacity: 0;
  height: 24px;
}
#controls-select-file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 5;

  border-radius: 5px;
  color: var(--primary);
  background-color: var(--primary-lightest-2);
  user-select: none;
  font-size: 12px;
  line-height: 16px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  padding: 2px 4px;
  text-align: center;
}
#controls-select-file-custom:after {
  content: 'Select file...';
}
#controls-select-file-custom:hover {
  background-color: var(--primary-lightest-1);
}

#controls-select-fileinput:focus ~ #controls-select-file-custom {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem var(--primary-dark);
}
