:root {
  --primary: #198813;
  --primary-dark: #13660e;
  --primary-darker: #0d440a;
  --primary-light: #8cc389;
  --primary-lighter: #c5e1c4;
  --primary-lightest-2: #e8f3e7;
  --primary-lightest-1: #f3f9f3;

  --black: black;
  --black-light: rgba(0, 0, 0, 0.5);
  --black-lighter: rgba(0, 0, 0, 0.25);
  --black-lightest-2: rgba(0, 0, 0, 0.1);
  --black-lightest-1: rgba(0, 0, 0, 0.05);

  --white: white;
  --white-light: rgba(255, 255, 255, 0.7);
  --white-lighter: rgba(255, 255, 255, 0.5);
  --white-lightest-2: rgba(255, 255, 255, 0.35);
  --white-lightest-1: rgba(255, 255, 255, 0.25);

  --main-bg-color: var(--white);
  --main-text-color: var(--black);
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: black;
    --main-text-color: white;
  }
}
html,
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
a {
  color: var(--primary);
}
a:hover {
  filter: brightness(0.6);
  color: var(--primary);
}
a:visited {
  color: var(--primary);
}
body {
  max-width: 40rem;
  padding: 50px 70px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  color: var(--primary-light);

  /* To align with logo's text baseline */
  margin-top: 10px;
  margin-left: 8px;
}

#main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  grid-template-rows: 20px 15px 20px 80px;
  row-gap: 10px;
  column-gap: 2rem;
}

#track-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
#controls-time-display {
  grid-column: 3;
  grid-row: 1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
#controls-progress {
  grid-column: 1 / span 3;
  grid-row: 2;
}
#controls-select-file {
  grid-column: 1;
  grid-row: 3;
}
#controls-play-pause {
  grid-column: 2;
  grid-row: 3;
}
#controls-others {
  grid-column: 3;
  grid-row: 3;
}

#footer {
  font-size: 10px;
  line-height: 14px;
}
